body{
    background-color:burlywood ;
    font-size: large;
}
header {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 12px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  border-bottom: 2px solid #ffcc00;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #333;
    text-align: center;
}
button{
    background-color: #333;
    font-size: larger;
    color: azure;
   
    border-radius: 12px;
}
 .container{
 text-align: center;
 display:block;

 }
img{
    width: 300px;
    height: 300px;
    border: 5px solid;
    border-color: antiquewhite;
}
.myimage{
    display: flex;
    justify-content: center;
}